header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(ptrbackground.jpg);
	background-position: top;
	background-image: contain;  /* keeps background image from resizing */
	background-color: #00569f; /* background to be used below the background image */
	margin: 0;
	padding: 0;

}

header {
	grid-column: 1 / -1;
	grid-row: 1;
	margin: 0;
	padding: 0;
	background-color: #000033;
	background-image: url(sunset.jpg);
	background-repeat: no-repeat;
	background-position: right;  /* Sun image to the right, doesn't resize or repeat, solis bg color used elsewhere in header */
	background-image: contain;

}

#wrapper {
	margin: auto;
	margin-top: 20px;
	padding: 0;
	width: 80%;
	min-width: 600px;
	display: grid;  /* Using a grid to arrange the banner, nav bar, and content section */
	grid-template-rows: auto auto auto;
  	grid-template-columns: 200px 1fr;  /* Nav bar is fixed width, content section is not */
	gap: 0;
}

#content {
	grid-column: 2;
  	grid-row: 2;
	margin-top: 0;
	padding: 25px;
	background-color: #FFFFFF;
}

#content img {
	float: left;
	padding-right: 35px;
}

nav {
	grid-column: 1;
  	grid-row: 2 / -1;
	background: #93d1e9;
	margin-top: 0;

}

nav ul {
	font-size: 1.2em;
	list-style: none;
	font-weight: bold;
	padding-left:20px;
}

nav a {
	text-decoration: none;
	color:#000033;
}

nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px;
	color: #ffffff;
}
h2 {
	margin: 0px auto;
	padding-bottom: 25px;
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	grid-column: 2;
	font-family: Georgia, "Times New Roman", serif;
	background-color: #ffffff;
	padding-left: 18px;
	padding-bottom: 25px;
	font-style: italic;
	font-size: 14px;
}

span.resort {
	color: #3399CC;
	font-weight: bold;
	font-size: 16px;
}

#content ul {
	list-style-image: url('marker.gif');
	list-style-position: inside;
}